<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>

<body>
 
    <h1>Welcome to gitEat</h1>

    <!-- name of each dish as a list item inside an unordered list -->
    <ul>
        <% for(let i = 0; i < food.length; i += 1 ) { %>
            <% const words = food[i].name.split(" ")
            // console.log(words)
            //iterating over the words array and uppercasing the first letter of each word
               for (let i = 0; i < words.length; i++) {
                //using substring method to append the rest of the word back startind at 1, 0 being the uppercased letter
              words[i] = words[i][0].toUpperCase() + words[i].substring(1)
            }%>

            <li><a href="/food/<%=i %>"><%=words.join(" ") %></a></li>

        <% } %>

    </ul>

</body>
</html>